# wp-content stuff
html/wp-content/themes/
!html/wp-content/themes/musikcorps-2017
html/wp-content/mu-plugins/*/
!html/wp-content/mu-plugins/musikcorps-presse
!html/wp-content/mu-plugins/musikcorps-musicians
html/wp-content/plugins/
html/wp-content/languages/
html/wp-content/uploads/
html/wp-content/upgrade/
html/wp-content/lg-gallery/

# WordPress
html/wp

# Apache
html/.htaccess

# Docker
html/docker.htaccess

# Dotenv
.env
config/*.env
!config/env.example
!config/docker.env

# Composer
vendor/

# IntelliJ
.idea/
