# wp-content stuff
html/wp-content/plugins/
html/wp-content/languages/
html/wp-content/uploads/
html/wp-content/upgrade/
html/wp-content/lg-gallery/
html/wp-content/themes/musikcorps-2018

# WordPress
html/wp

# Apache
html/.htaccess

# Docker
html/docker.htaccess

# Dotenv
.env
config/*.env
!config/env.example
!config/docker.env

# Composer
vendor/

# IntelliJ
.idea/
