.widget_gce_widget {

  .simcal-align-right {
    display: none;
  }

  .simcal-calendar-head {
    display: none;
  }

  .simcal-day-label {
    display: none;
  }

  ul.simcal-events {
    margin: 0;
  }

  .simcal-default-calendar-list .simcal-event-details {
    overflow: visible !important;
  }

  .simcal-events-list-container {

    dt {
      display: none;
    }
    dd {
      display: none;
    }
    dd:nth-of-type(1), dd:nth-of-type(2), dd:nth-of-type(3) {
      display: block;
    }
  }
}
