.lg_gallery {

  .top_navigator {
    margin-bottom: 1.5rem;
  }

  .top_navigator a:nth-of-type(1),
  .top_navigator .raquo:nth-of-type(1) {
    display: none;
  }

  .top_navigator a:nth-of-type(2)::before {
    content: "";
    display: block;
  }

  .folder {
    display: none;
  }
}