header.desktop {

  margin-bottom: 1.5rem;

  &.frontpage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 530px;
    z-index: -1;
    padding: 1rem 0;
    background-image: url(../images/front-page-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 75%;
    opacity: 1;
  }
  &.standard-page {
    background-color: $brand-light;
  }
  &.frontpage {
    position: relative;
    z-index: 1;
    min-height: 530px;
  }

  .header-vspacer {
    padding-top: 355px;
  }
  .header-content {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .link-homepage {
    padding: 1rem 0.9375rem 1.5rem 1.1rem;
    background-color: transparentize($brand-light, 0.4);
  }
  .link-homepage img {
    display: inline-block;
    height: 70px;
    width: auto;
    margin-right: 1rem;
  }
  .link-homepage h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.2rem;
  }
}
