.primary-nav {
  height: 2.55rem;
}
.primary-nav ul {
  margin: 0;
  position: relative;
}
.primary-nav li {
  list-style-type: none;
  float: left;
}
.primary-nav li:first-child a {
  padding-left: 1.1rem;
}
.primary-nav a {
  padding: 1.2rem 1rem;
  color: black;
}
.primary-nav a:hover, .primary-nav li:hover a,
.primary-nav li.current_page_item a, .primary-nav li.current_page_parent a {
  background-color: #232c49;
  color: white;
}

.primary-nav .sub-menu {
  position: absolute;
  top: 2.09rem;
  padding-top: .5rem;
  display: none;
  z-index: 99;
}
.primary-nav li:hover .sub-menu {
  display: block;
}
.primary-nav .sub-menu li {
  float: none;
  height: 2.5rem;
  background-color: white;
  padding-top: .1rem;
}
.primary-nav .sub-menu a {
  padding: .4rem 1rem;
  background-color: #232c49;
  color: white;
  width: 270px;
  display: inline-block;
}
.primary-nav .sub-menu a:hover, .primary-nav .sub-menu li.current_page_item a {
  background-color: #474f66;
}